<article class="country-article">
    <h2 class="country-name">{{name}}</h2>
    <div class="country-info">
        <div class="info">
            <p class="capital">Capital: {{capital}}</p>
            <p class="population">Population: {{population}}</p>
            <ul class="language-list">Languages:
                {{#each languages}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <img src="{{flag}}" alt="" width="480">
    </div>
</article>